:root {
     --buttons-height: 48px;
}

html {
     margin: 30px;
     font-family: 'Montserrat', sans-serif;
     background-color: hsl(175, 21%, 43%);
}

#top-bar {
     display: grid;
     grid-template-columns: 1fr 1fr 1fr;
     justify-content: space-between;  
     align-items: center;
     justify-content: space-between;
     padding: 0.25rem 0;
}

#logo img {
     max-height: 100px;
}

#central {
     display: grid;
     grid-template-columns: 1fr 1fr;
     align-items: center;
     justify-content: space-between;
     padding: 0 7rem 0 2rem;
}

.text-nav p {
     color:aliceblue;
}

.links {
     color: hsl(223, 100%, 50%);
     padding: 0 0 0 0;
}

.links a:hover {
     text-decoration: underline;
     cursor: pointer;
}

.links:visited {
     color:orange;
}

#right {
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: space-evenly;
     padding: 0 4rem 0 0;
}

section {
     display: grid;
     grid-template-columns: 1fr 1fr 1fr;
     justify-content: space-between;
     padding: 0px 0px;
     margin: 0px 30px;
     grid-gap: 2rem;
}

.login p {
     font-size: 4.5rem;
     color:hsl(223, 100%, 50%);
}

.main-text {
     padding: 20rem 0;
}

#p1 {
     font-size: 3.5rem;
     color:aliceblue;
     padding: 0 0;
     margin: 0;
}

#p2 {
     font-size: 3rem;
     color: hsl(223, 100%, 50%);
     padding: 0;
     margin: 0;
}

#p3 {
     font-size: 2rem;
     color:aliceblue;
     text-align: justify;
     padding: 2rem 15rem 0 0;
}

section img {
     max-width: 100%;
     max-height: auto;
     justify-content: center;
     border-radius: 1rem;     
     border-style: solid;
     border-color: cornflowerblue;
     display: block;
     margin: 0 auto;
     margin-top: 5rem;
}

@media (max-width: 480px) {
     #top-bar {
     display: flex;
     flex-direction: column;
     justify-content: center;  
     align-items: center;
     padding: 0.25rem 0;
     }

     #logo img {
          max-height: 40px;
     }

     #top-bar {
          font-size: 0.5rem;
     }
     
     .login p {
          font-size: 1.5rem;
     }

     .main-text {
          padding: 2.5rem 0;
     }
     
     #p1 {
          font-size: 0.75rem;
     }

     #p2 {
          font-size: 0.75rem;
     }

     #p3 {
          font-size: 0.4rem;
          text-align:justify;
          padding: 0;
     }

     section img {
          max-width: 100%;
          height: auto;
          justify-content: center;
     }
}

@media (max-width: 1279px) {
     #top-bar {
     display: flex;
     flex-direction: column;
     justify-content: center;  
     align-items: center;
     padding: 0.25rem 0;
     }

     #logo img {
          max-height: 70px;
     }

     #top-bar {
          font-size: 0.75rem;
     }
     
     .login p {
          font-size: 2rem;
     }

     .main-text {
          padding: 10rem 0;
     }
     
     #p1 {
          font-size: 1.5rem;
     }

     #p2 {
          font-size: 1.5rem;
     }

     #p3 {
          font-size: 1rem;
          text-align:justify;
          padding: 0;
     }

     section img {
          max-width: 110%;
          height: auto;
          justify-content: center;
     }
}

footer {
     display: flex;
     align-items: center;
     flex-direction: row;
     justify-content: center;
     padding: 0 2rem;
     margin: 0px 10px;
}

footer a:hover {
     text-decoration: underline;
     cursor: pointer;
     color:darksalmon;
}

footer a:visited {
      color:orange;
}